body {
    font-family: 'Poppins', sans-serif;
    margin: 0;


}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 35px;
}

.top-img {
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}

.orange-color {
    color: rgb(255, 116, 2);
}

p {
    color: rgb(137, 122, 100);
}

.hire-me-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: whitesmoke;
    font-weight: 700;
    border-radius: 10px;
}

.flexible-conteinar {
    display: flex;
    margin-bottom: 140px;
}

.half-width {
    width: 50%;
    padding-left: 5%;

}

.half-width img {
    width: 84%;
}

.flexible-conteinar {
    display: flex;
}

.experiences-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    border-left: tomato 6px solid;
}

.experiences-area {
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#experiences {
    border-left: 6px solid aqua;
}



footer {
    padding-left: 35%;
    margin-bottom: 2%;
}